In [1]:
import pandas as pd
import numpy as np

In [2]:
gender_family_abuse = pd.read_csv('Raw Data/family_abuse_based_on_gender.csv')
gender_family_abuse.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_korban,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,0,KORBAN,2018
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEREMPUAN,1,KORBAN,2018
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,LAKI-LAKI,1,KORBAN,2018
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PEREMPUAN,9,KORBAN,2018
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,LAKI-LAKI,1,KORBAN,2018

In [3]:
education_family_abuse = pd.read_csv("Raw Data/family_abused_by_education.csv")

In [4]:
education_family_abuse["kategori_pendidikan"] = education_family_abuse["kategori_pendidikan"].str.replace("\n","")

In [5]:
education_family_abuse

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,kategori_pendidikan,jumlah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,NaN,0,KORBAN,2018
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,TIDAK SEKOLAH,0,KORBAN,2018
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,SD,0,KORBAN,2018
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,SLTP,0,KORBAN,2018
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,SLTA,0,KORBAN,2018
...,...,...,...,...,...,...,...,...,...,...
1723,1724,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,SLTP,0,KORBAN,2021
1724,1725,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,SLTA,0,KORBAN,2021
1725,1726,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,PERGURUAN TINGGI,0,KORBAN,2021
1726,1727,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,TK,1,KORBAN,2021
1727,1728,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,PAUD,0,KORBAN,2021

In [6]:
education_family_abuse.drop(columns=['id','kode_provinsi','nama_provinsi','satuan'], inplace=True)
# gender_family_abuse

In [7]:
education_family_abuse.head()

,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,kategori_pendidikan,jumlah,tahun
0,3201,KABUPATEN BOGOR,LAKI-LAKI,NaN,0,2018
1,3201,KABUPATEN BOGOR,LAKI-LAKI,TIDAK SEKOLAH,0,2018
2,3201,KABUPATEN BOGOR,LAKI-LAKI,SD,0,2018
3,3201,KABUPATEN BOGOR,LAKI-LAKI,SLTP,0,2018
4,3201,KABUPATEN BOGOR,LAKI-LAKI,SLTA,0,2018

In [8]:
gender_family_abuse.drop(columns=['id','kode_provinsi','nama_provinsi','satuan'], inplace=True)

In [9]:
gender_family_abuse.head()

   kode_kabupaten_kota nama_kabupaten_kota jenis_kelamin  jumlah_korban  tahun
0                 3201     KABUPATEN BOGOR     LAKI-LAKI              0   2018
1                 3201     KABUPATEN BOGOR     PEREMPUAN              1   2018
2                 3202  KABUPATEN SUKABUMI     LAKI-LAKI              1   2018
3                 3202  KABUPATEN SUKABUMI     PEREMPUAN              9   2018
4                 3203   KABUPATEN CIANJUR     LAKI-LAKI              1   2018

In [10]:
gender_family_abuse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kode_kabupaten_kota  216 non-null    int64
 1   nama_kabupaten_kota  216 non-null    object
 2   jenis_kelamin        216 non-null    object
 3   jumlah_korban        216 non-null    int64
 4   tahun                216 non-null    int64
dtypes: int64(3), object(2)
memory usage: 8.6+ KB

In [11]:
education_family_abuse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kode_kabupaten_kota  1728 non-null   int64
 1   nama_kabupaten_kota  1728 non-null   object
 2   jenis_kelamin        1728 non-null   object
 3   kategori_pendidikan  1512 non-null   object
 4   jumlah               1728 non-null   int64
 5   tahun                1728 non-null   int64
dtypes: int64(3), object(3)
memory usage: 81.1+ KB

In [12]:
merge_family_abuse_and_education_abuse = pd.merge(gender_family_abuse, education_family_abuse, how='left', left_on=['tahun', 'jenis_kelamin', "kode_kabupaten_kota", "nama_kabupaten_kota"], right_on=['tahun', 'jenis_kelamin', "kode_kabupaten_kota", "nama_kabupaten_kota"])

In [13]:
merge_family_abuse_and_education_abuse.rename({})

,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_korban,tahun,kategori_pendidikan,jumlah
0,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,NaN,0
1,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,TIDAK SEKOLAH,0
2,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SD,0
3,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SLTP,0
4,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SLTA,0
...,...,...,...,...,...,...,...
1723,3279,KOTA BANJAR,PEREMPUAN,3,2021,SLTP,0
1724,3279,KOTA BANJAR,PEREMPUAN,3,2021,SLTA,0
1725,3279,KOTA BANJAR,PEREMPUAN,3,2021,PERGURUAN TINGGI,0
1726,3279,KOTA BANJAR,PEREMPUAN,3,2021,TK,1
1727,3279,KOTA BANJAR,PEREMPUAN,3,2021,PAUD,0

In [14]:
merge_family_abuse_and_education_abuse["persentase_total_kekerasan"] = merge_family_abuse_and_education_abuse["jumlah_korban"] + merge_family_abuse_and_education_abuse['jumlah']

In [15]:
merge_family_abuse_and_education_abuse

,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_korban,tahun,kategori_pendidikan,jumlah,persentase_total_kekerasan
0,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,NaN,0,0
1,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,TIDAK SEKOLAH,0,0
2,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SD,0,0
3,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SLTP,0,0
4,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SLTA,0,0
...,...,...,...,...,...,...,...,...
1723,3279,KOTA BANJAR,PEREMPUAN,3,2021,SLTP,0,3
1724,3279,KOTA BANJAR,PEREMPUAN,3,2021,SLTA,0,3
1725,3279,KOTA BANJAR,PEREMPUAN,3,2021,PERGURUAN TINGGI,0,3
1726,3279,KOTA BANJAR,PEREMPUAN,3,2021,TK,1,4
1727,3279,KOTA BANJAR,PEREMPUAN,3,2021,PAUD,0,3

In [16]:
merge_family_abuse_and_education_abuse["persentase_total_kekerasan"] = round((merge_family_abuse_and_education_abuse["persentase_total_kekerasan"]/merge_family_abuse_and_education_abuse["persentase_total_kekerasan"].sum())*100, 3)

In [17]:
merge_family_abuse_and_education_abuse.rename(columns={"jumlah_korban" : "jml_kdrt_by_gender", "jumlah" : "jml_kekerasan_by_education"}, inplace=True)

In [18]:
merge_family_abuse_and_education_abuse.to_csv("Clean Data/abuseCase.csv", index=False)

In [19]:
pd.read_csv("Clean Data/abuseCase.csv")

,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jml_kdrt_by_gender,tahun,kategori_pendidikan,jml_kekerasan_by_education,persentase_total_kekerasan
0,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,NaN,0,0.000
1,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,TIDAK SEKOLAH,0,0.000
2,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SD,0,0.000
3,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SLTP,0,0.000
4,3201,KABUPATEN BOGOR,LAKI-LAKI,0,2018,SLTA,0,0.000
...,...,...,...,...,...,...,...,...
1723,3279,KOTA BANJAR,PEREMPUAN,3,2021,SLTP,0,0.018
1724,3279,KOTA BANJAR,PEREMPUAN,3,2021,SLTA,0,0.018
1725,3279,KOTA BANJAR,PEREMPUAN,3,2021,PERGURUAN TINGGI,0,0.018
1726,3279,KOTA BANJAR,PEREMPUAN,3,2021,TK,1,0.023
1727,3279,KOTA BANJAR,PEREMPUAN,3,2021,PAUD,0,0.018