In [1]:
#Import library yang dibutuhkan
import pandas as pd
import numpy as np

In [2]:
city_health_index= pd.read_csv('Raw Data/city_health_index.csv')
city_health_index.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,POIN,2010
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,POIN,2010
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,POIN,2010
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,POIN,2010
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,77.44,POIN,2010

In [3]:
data_ims= pd.read_csv('Raw Data/city_transmitted_diseas.csv')
data_ims

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_kasus,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,645,ORANG,2020
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,9,ORANG,2020
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,645,ORANG,2020
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,988,ORANG,2020
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,116,ORANG,2020
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,3480,ORANG,2020
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,318,ORANG,2020
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,774,ORANG,2020
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,1720,ORANG,2020
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,712,ORANG,2020
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,167,ORANG,2020
11,12,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,3884,ORANG,2020
12,13,32,JAWA BARAT,3213,KABUPATEN SUBANG,2082,ORANG,2020
13,14,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,14,ORANG,2020
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,59,ORANG,2020
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,130,ORANG,2020
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,409,ORANG,2020
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,8,ORANG,2020
18,19,32,JAWA BARAT,3271,KOTA BOGOR,825,ORANG,2020
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,53,ORANG,2020
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,2212,ORANG,2020
21,22,32,JAWA BARAT,3274,KOTA CIREBON,313,ORANG,2020
22,23,32,JAWA BARAT,3275,KOTA BEKASI,584,ORANG,2020
23,24,32,JAWA BARAT,3276,KOTA DEPOK,52,ORANG,2020
24,25,32,JAWA BARAT,3277,KOTA CIMAHI,679,ORANG,2020
25,26,32,JAWA BARAT,3278,KOTA TASIKMALAYA,116,ORANG,2020
26,27,32,JAWA BARAT,3279,KOTA BANJAR,0,ORANG,2020
27,28,32,JAWA BARAT,3201,KABUPATEN BOGOR,363,ORANG,2021
28,29,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,4,ORANG,2021
29,30,32,JAWA BARAT,3203,KABUPATEN CIANJUR,355,ORANG,2021
30,31,32,JAWA BARAT,3204,KABUPATEN BANDUNG,491,ORANG,2021
31,32,32,JAWA BARAT,3205,KABUPATEN GARUT,84,ORANG,2021
32,33,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,1082,ORANG,2021
33,34,32,JAWA BARAT,3207,KABUPATEN CIAMIS,224,ORANG,2021
34,35,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,489,ORANG,2021
35,36,32,JAWA BARAT,3209,KABUPATEN CIREBON,1366,ORANG,2021
36,37,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,825,ORANG,2021
37,38,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,155,ORANG,2021
38,39,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,2168,ORANG,2021
39,40,32,JAWA BARAT,3213,KABUPATEN SUBANG,1794,ORANG,2021
40,41,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,0,ORANG,2021
41,42,32,JAWA BARAT,3215,KABUPATEN KARAWANG,22,ORANG,2021
42,43,32,JAWA BARAT,3216,KABUPATEN BEKASI,58,ORANG,2021
43,44,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,240,ORANG,2021
44,45,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,1,ORANG,2021
45,46,32,JAWA BARAT,3271,KOTA BOGOR,844,ORANG,2021
46,47,32,JAWA BARAT,3272,KOTA SUKABUMI,36,ORANG,2021
47,48,32,JAWA BARAT,3273,KOTA BANDUNG,2081,ORANG,2021
48,49,32,JAWA BARAT,3274,KOTA CIREBON,126,ORANG,2021
49,50,32,JAWA BARAT,3275,KOTA BEKASI,700,ORANG,2021
50,51,32,JAWA BARAT,3276,KOTA DEPOK,54,ORANG,2021
51,52,32,JAWA BARAT,3277,KOTA CIMAHI,509,ORANG,2021
52,53,32,JAWA BARAT,3278,KOTA TASIKMALAYA,45,ORANG,2021
53,54,32,JAWA BARAT,3279,KOTA BANJAR,1,ORANG,2021

In [4]:
data_ims = data_ims.drop(columns=['id','kode_provinsi','nama_provinsi','nama_kabupaten_kota','satuan'])
data_ims.head()

   kode_kabupaten_kota  jumlah_kasus  tahun
0                 3201           645   2020
1                 3202             9   2020
2                 3203           645   2020
3                 3204           988   2020
4                 3205           116   2020

In [5]:
city_people_health_complain= pd.read_csv('Raw Data/city_percentage_people_health_complain.csv')
city_people_health_complain

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,persentase_penduduk,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,35.92,PERSEN,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,30.72,PERSEN,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,27.52,PERSEN,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,23.61,PERSEN,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,34.23,PERSEN,2015
...,...,...,...,...,...,...,...,...
184,185,32,JAWA BARAT,3275,KOTA BEKASI,25.46,PERSEN,2021
185,186,32,JAWA BARAT,3276,KOTA DEPOK,15.49,PERSEN,2021
186,187,32,JAWA BARAT,3277,KOTA CIMAHI,16.23,PERSEN,2021
187,188,32,JAWA BARAT,3278,KOTA TASIKMALAYA,18.37,PERSEN,2021
188,189,32,JAWA BARAT,3279,KOTA BANJAR,13.71,PERSEN,2021

In [6]:
city_people_health_complain = city_people_health_complain.drop(columns=['id','kode_provinsi','nama_provinsi','nama_kabupaten_kota','satuan'])

In [7]:
toddler_undernourished = pd.read_csv("Raw Data/toddler_undernourished.csv")
toddler_undernourished

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_balita,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,21322,ORANG,2020
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,8838,ORANG,2020
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,9069,ORANG,2020
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,13728,ORANG,2020
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,9128,ORANG,2020
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,9275,ORANG,2020
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,4810,ORANG,2020
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,4265,ORANG,2020
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,15737,ORANG,2020
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,4549,ORANG,2020
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,5784,ORANG,2020
11,12,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,5218,ORANG,2020
12,13,32,JAWA BARAT,3213,KABUPATEN SUBANG,2977,ORANG,2020
13,14,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,2648,ORANG,2020
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,4647,ORANG,2020
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,6723,ORANG,2020
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,6130,ORANG,2020
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,161,ORANG,2020
18,19,32,JAWA BARAT,3271,KOTA BOGOR,2915,ORANG,2020
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,1333,ORANG,2020
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,7910,ORANG,2020
21,22,32,JAWA BARAT,3274,KOTA CIREBON,2149,ORANG,2020
22,23,32,JAWA BARAT,3275,KOTA BEKASI,8228,ORANG,2020
23,24,32,JAWA BARAT,3276,KOTA DEPOK,5948,ORANG,2020
24,25,32,JAWA BARAT,3277,KOTA CIMAHI,2491,ORANG,2020
25,26,32,JAWA BARAT,3278,KOTA TASIKMALAYA,3738,ORANG,2020
26,27,32,JAWA BARAT,3279,KOTA BANJAR,1086,ORANG,2020
27,28,32,JAWA BARAT,3201,KABUPATEN BOGOR,16821,ORANG,2021
28,29,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,6099,ORANG,2021
29,30,32,JAWA BARAT,3203,KABUPATEN CIANJUR,5788,ORANG,2021
30,31,32,JAWA BARAT,3204,KABUPATEN BANDUNG,8809,ORANG,2021
31,32,32,JAWA BARAT,3205,KABUPATEN GARUT,313,ORANG,2021
32,33,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,4572,ORANG,2021
33,34,32,JAWA BARAT,3207,KABUPATEN CIAMIS,2368,ORANG,2021
34,35,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,2461,ORANG,2021
35,36,32,JAWA BARAT,3209,KABUPATEN CIREBON,13385,ORANG,2021
36,37,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,3705,ORANG,2021
37,38,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,2382,ORANG,2021
38,39,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,5586,ORANG,2021
39,40,32,JAWA BARAT,3213,KABUPATEN SUBANG,2736,ORANG,2021
40,41,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,922,ORANG,2021
41,42,32,JAWA BARAT,3215,KABUPATEN KARAWANG,2914,ORANG,2021
42,43,32,JAWA BARAT,3216,KABUPATEN BEKASI,15485,ORANG,2021
43,44,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,5210,ORANG,2021
44,45,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,347,ORANG,2021
45,46,32,JAWA BARAT,3271,KOTA BOGOR,2990,ORANG,2021
46,47,32,JAWA BARAT,3272,KOTA SUKABUMI,621,ORANG,2021
47,48,32,JAWA BARAT,3273,KOTA BANDUNG,4996,ORANG,2021
48,49,32,JAWA BARAT,3274,KOTA CIREBON,2394,ORANG,2021
49,50,32,JAWA BARAT,3275,KOTA BEKASI,5662,ORANG,2021
50,51,32,JAWA BARAT,3276,KOTA DEPOK,2397,ORANG,2021
51,52,32,JAWA BARAT,3277,KOTA CIMAHI,1221,ORANG,2021
52,53,32,JAWA BARAT,3278,KOTA TASIKMALAYA,3766,ORANG,2021
53,54,32,JAWA BARAT,3279,KOTA BANJAR,603,ORANG,2021

In [8]:
baby_malnourished = pd.read_csv("Raw Data/baby_undernourished.csv")
baby_malnourished

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_bayi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,98,ORANG,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,186,ORANG,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,323,ORANG,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,66,ORANG,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,143,ORANG,2016
...,...,...,...,...,...,...,...,...
76,77,32,JAWA BARAT,3275,KOTA BEKASI,209,ORANG,2018
77,78,32,JAWA BARAT,3276,KOTA DEPOK,76,ORANG,2018
78,79,32,JAWA BARAT,3277,KOTA CIMAHI,31,ORANG,2018
79,80,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,ORANG,2018
80,81,32,JAWA BARAT,3279,KOTA BANJAR,0,ORANG,2018

In [9]:
# kekerasan = pd.read_csv("Clean Data/abuseCase.csv")
# kekerasan
baby_malnourished.drop(columns=['id','kode_provinsi','nama_provinsi','nama_kabupaten_kota','satuan'], inplace=True)

In [10]:
toddler_undernourished.drop(columns=['id','kode_provinsi','nama_provinsi','nama_kabupaten_kota','satuan'], inplace=True)

In [11]:
join1 = pd.merge(city_health_index, baby_malnourished, how='left', left_on=['tahun','kode_kabupaten_kota'], right_on= ['tahun','kode_kabupaten_kota'])

In [12]:
join2 = pd.merge(join1, toddler_undernourished, how='left', left_on=['tahun','kode_kabupaten_kota'], right_on= ['tahun','kode_kabupaten_kota'])

In [13]:
join2.rename(columns={"jumlah_bayi" : "jumlah_bayi_gizi_buruk", "jumlah_balita":"jumlah_balita_kurang_gizi"},inplace=True)

In [14]:
join3 = pd.merge(join2, city_people_health_complain, how='left', left_on=['tahun','kode_kabupaten_kota'], right_on= ['tahun','kode_kabupaten_kota'])

In [15]:
join3.rename(columns = {'persentase_penduduk':'persentase_penduduk_komplain'}, inplace = True)

In [16]:
join3.drop(columns=["id", "satuan"], inplace=True)

In [17]:
join4 = pd.merge(join3, data_ims, how='left', left_on=['tahun','kode_kabupaten_kota'], right_on= ['tahun','kode_kabupaten_kota'])

In [18]:
join4

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,tahun,jumlah_bayi_gizi_buruk,jumlah_balita_kurang_gizi,persentase_penduduk_komplain,jumlah_kasus
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,2010,NaN,NaN,NaN,NaN
1,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,2010,NaN,NaN,NaN,NaN
2,32,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,2010,NaN,NaN,NaN,NaN
3,32,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,2010,NaN,NaN,NaN,NaN
4,32,JAWA BARAT,3205,KABUPATEN GARUT,77.44,2010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
318,32,JAWA BARAT,3274,KOTA CIREBON,80.68,2021,NaN,2394.0,19.29,126.0
319,32,JAWA BARAT,3275,KOTA BEKASI,84.91,2021,NaN,5662.0,25.46,700.0
320,32,JAWA BARAT,3276,KOTA DEPOK,84.03,2021,NaN,2397.0,15.49,54.0
321,32,JAWA BARAT,3277,KOTA CIMAHI,83.40,2021,NaN,1221.0,16.23,509.0
322,32,JAWA BARAT,3278,KOTA TASIKMALAYA,80.52,2021,NaN,3766.0,18.37,45.0

In [19]:
join4["jumlah_kasus"] = round((join4["jumlah_kasus"] / join4["jumlah_kasus"].sum())*100, 3) # 49935858 is population of jabar 2020

In [20]:
join4.rename(columns = {'jumlah_kasus':'persentase_kasus_ims'}, inplace = True)

In [21]:
join4

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,tahun,jumlah_bayi_gizi_buruk,jumlah_balita_kurang_gizi,persentase_penduduk_komplain,persentase_kasus_ims
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,2010,NaN,NaN,NaN,NaN
1,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,2010,NaN,NaN,NaN,NaN
2,32,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,2010,NaN,NaN,NaN,NaN
3,32,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,2010,NaN,NaN,NaN,NaN
4,32,JAWA BARAT,3205,KABUPATEN GARUT,77.44,2010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
318,32,JAWA BARAT,3274,KOTA CIREBON,80.68,2021,NaN,2394.0,19.29,0.359
319,32,JAWA BARAT,3275,KOTA BEKASI,84.91,2021,NaN,5662.0,25.46,1.994
320,32,JAWA BARAT,3276,KOTA DEPOK,84.03,2021,NaN,2397.0,15.49,0.154
321,32,JAWA BARAT,3277,KOTA CIMAHI,83.40,2021,NaN,1221.0,16.23,1.450
322,32,JAWA BARAT,3278,KOTA TASIKMALAYA,80.52,2021,NaN,3766.0,18.37,0.128

In [22]:
join4["jumlah_bayi_gizi_buruk"] = round((join4["jumlah_bayi_gizi_buruk"]/join3["jumlah_bayi_gizi_buruk"].sum())*100, 3)

In [23]:
join4["jumlah_balita_kurang_gizi"] = round((join4["jumlah_balita_kurang_gizi"]/join3["jumlah_balita_kurang_gizi"].sum())*100, 3)

In [24]:
join4.rename(columns={"jumlah_bayi_gizi_buruk" : "persentase_bayi_gizi_buruk", "jumlah_balita_kurang_gizi" : "persentase_balita_kurang_gizi"}, inplace=True)

In [25]:
join4

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,tahun,persentase_bayi_gizi_buruk,persentase_balita_kurang_gizi,persentase_penduduk_komplain,persentase_kasus_ims
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,77.43,2010,NaN,NaN,NaN,NaN
1,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,76.10,2010,NaN,NaN,NaN,NaN
2,32,JAWA BARAT,3203,KABUPATEN CIANJUR,75.02,2010,NaN,NaN,NaN,NaN
3,32,JAWA BARAT,3204,KABUPATEN BANDUNG,81.44,2010,NaN,NaN,NaN,NaN
4,32,JAWA BARAT,3205,KABUPATEN GARUT,77.44,2010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
318,32,JAWA BARAT,3274,KOTA CIREBON,80.68,2021,NaN,0.812,19.29,0.359
319,32,JAWA BARAT,3275,KOTA BEKASI,84.91,2021,NaN,1.921,25.46,1.994
320,32,JAWA BARAT,3276,KOTA DEPOK,84.03,2021,NaN,0.813,15.49,0.154
321,32,JAWA BARAT,3277,KOTA CIMAHI,83.40,2021,NaN,0.414,16.23,1.450
322,32,JAWA BARAT,3278,KOTA TASIKMALAYA,80.52,2021,NaN,1.278,18.37,0.128

In [26]:
join4.to_csv('Clean Data/homepage.csv',index=False)

In [27]:
pd.read_csv("Clean Data/homepage.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   kode_provinsi                  323 non-null    int64
 1   nama_provinsi                  323 non-null    object
 2   kode_kabupaten_kota            323 non-null    int64
 3   nama_kabupaten_kota            323 non-null    object
 4   indeks_kesehatan               323 non-null    float64
 5   tahun                          323 non-null    int64
 6   persentase_bayi_gizi_buruk     81 non-null     float64
 7   persentase_balita_kurang_gizi  53 non-null     float64
 8   persentase_penduduk_komplain   188 non-null    float64
 9   persentase_kasus_ims           53 non-null     float64
dtypes: float64(5), int64(3), object(2)
memory usage: 25.4+ KB